<?xml version='1.0' encoding='utf-8'?>
<widget id="com.trashapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Trash App</name>
    <description>
	An application that helps users to locate areas where they can ably and legally dispose off trash in the city.
    </description>
    <author email="Junior Lawrence Kibirige" href="trashapp.com">
        Trash App Inc.
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~7.1.4" />
    <plugin name="cordova-sqlite-storage" spec="https://github.com/brodysoft/Cordova-SQLitePlugin" />
</widget>
